/* main */

@charset "UTF-8";
.cl,
.l-content,
.c-artImg,
.cassette-item.text_block,
.cassette-item .block_img {
    display: inline-block;
    min-height: 1%;
    display: block;
    *zoom: 1;
}

.cl:after,
.l-content:after,
.c-artImg:after,
.cassette-item.text_block:after,
.cassette-item .block_img:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
}

* html .cl,
* html .l-content,
* html .c-artImg,
* html .cassette-item.text_block,
* html .cassette-item .block_img,
.cassette-item * html .block_img {
    height: 1%;
}

dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
figure,
input,
textarea,
p,
blockquote {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table.sp_responsive_table .sp_only {
    display: none;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
    font-style: normal;
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 102;
    width: 100%;
}

fieldset,
img {
    border: 0;
    vertical-align: top;
}

ol,
ul {
    list-style: none;
}

q:before,
q:after {
    content: " ";
}

abbr,
acronym {
    border: 0;
}

a {
    color: #323333;
    text-decoration: none;
}

a:link {
    color: #323333;
    text-decoration: none;
}

a:visited {
    color: #323333;
    text-decoration: none;
}

a:hover {
    color: #323333;
    text-decoration: none;
    cursor: pointer;
}

a:active {
    color: #323333;
    text-decoration: none;
}

a:active,
a:focus {
    outline: none;
}

li img,
dt img,
dd img {
    vertical-align: top;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
    display: block;
}

@font-face {
    font-family: "YuGothic M";
    src: local("Yu Gothic Medium");
}

html {
    font-size: 62.5%;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "游ゴシック体", YuGothic, "YuGothic M", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "Meiryo UI", sans-serif;
    font-size: 10px;
    font-size: 1.0rem;
    line-height: 1.7;
    color: #323333;
    -webkit-tap-highlight-color: transparent;
    min-width: 1080px;
}

img {
    max-width: 100%;
    height: auto;
}

a[href^="tel:"] {
    color: #323333;
    text-decoration: none;
    cursor: default;
}

a[href^="tel:"]:hover img {
    opacity: 1;
}


/* main */


/* header */

.main {
    text-align: left;
    font-size: 18px;
    font-size: 1.8rem;
}

.header {
    background: #ede6da;
    padding-top: 25px;
    position: relative;
    height: 173px;
    box-sizing: border-box;
}

.header:before {
    content: " ";
    width: 100%;
    height: 19px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(../../img/bg_header.png) repeat-x;
}

.header-1 {
    max-width: 1080px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header-2 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.logo {
    width: 123px;
    height: 104px;
}

.logo a:hover {
    opacity: .8;
}

.logo img {
    width: 123px;
    height: 104px;
}

.showmenu {
    position: absolute;
    top: 50%;
    right: 15px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: none;
}

.showmenu a {
    position: relative;
    display: block;
    width: 25px;
    height: 16px;
    box-sizing: border-box;
}

.showmenu a span {
    display: inline-block;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 1;
    transition: all .2s;
}

.showmenu a span:nth-of-type(1),
.showmenu a span:nth-of-type(2),
.showmenu a span:nth-of-type(3) {
    width: 25px;
    height: 2px;
    background: #f2cb7c;
}

.showmenu a span:nth-of-type(1) {
    top: 0;
}

.showmenu a span:nth-of-type(2) {
    top: 7px;
}

.showmenu a span:nth-of-type(3) {
    top: 14px;
}

.showmenu.is-open a span:nth-of-type(1) {
    -ms-transform: rotate(45deg) translateY(10px);
    transform: rotate(45deg) translateY(10px);
    left: 5px;
}

.showmenu.is-open a span:nth-of-type(2) {
    opacity: 0;
}

.showmenu.is-open a span:nth-of-type(3) {
    -ms-transform: rotate(-45deg) translateY(-12px);
    transform: rotate(-45deg) translateY(-12px);
    top: 16px;
    left: 6px;
}

.l-globalNavi {
    text-align: right;
}

.l-globalNavi_inr p {
    margin-bottom: 15px;
}

.l-globalNavi_inr p a:hover {
    opacity: .8;
}

.l-globalNavi_inr>ul {
    letter-spacing: -.4em;
}

.l-globalNavi_inr>ul li {
    letter-spacing: normal;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.l-globalNavi_inr>ul li.is-current a span {
    position: relative;
    z-index: 1;
}

.l-globalNavi_inr>ul li.is-current a span:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f2cb7c;
    z-index: -1;
    -ms-transform: skew(-15deg);
    transform: skew(-15deg);
    width: 100%;
    height: 30px;
}

.l-globalNavi_inr>ul li.is-current a span:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    background-size: auto 16px;
    background-position: 50% 5px;
    background-repeat: no-repeat;
    z-index: 1;
    width: 100%;
    height: 30px;
}

.l-globalNavi_inr>ul li:before {
    content: " ";
    position: absolute;
    top: 50%;
    right: 0;
    background: #f2cb7c;
    width: 2px;
    height: 21px;
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
    margin-top: -10px;
}

.l-globalNavi_inr>ul li a {
    display: block;
    padding: 0 13px 0 10px;
}

.l-globalNavi_inr>ul li a span {
    background: none;
    padding: 0 10px;
}

.l-globalNavi_inr>ul li a span picture {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}

.l-globalNavi_inr>ul li a span img {
    vertical-align: middle;
    height: 16px;
}

.l-globalNavi_inr>ul li a:hover span {
    background-size: auto 16px;
    background-position: 50% 6px;
    background-repeat: no-repeat;
}

.l-globalNavi_inr>ul li a:hover span img {
    visibility: hidden;
}

.l-globalNavi_inr>ul li:nth-child(1) a span img {
    width: 59px;
}

.l-globalNavi_inr>ul li:nth-child(2) a span img {
    width: 71px;
}

.l-globalNavi_inr>ul li:nth-child(3) a span img {
    width: 163px;
}

.l-globalNavi_inr>ul li:nth-child(4) a span img {
    width: 95px;
}

.l-globalNavi_inr>ul li:nth-child(5) a span img {
    width: 91px;
}

.l-globalNavi_inr>ul li:nth-child(6) a span img {
    width: 52px;
}

.l-globalNavi_inr>ul li:nth-child(7) a span img {
    width: 73px;
}

.l-globalNavi_inr>ul li:nth-child(1) a:hover span {
    background-image: url("../../img/txt_home_hv.svg");
}

.l-globalNavi_inr>ul li:nth-child(2) a:hover span {
    background-image: url("../../img/txt_news_hv.svg");
}

.l-globalNavi_inr>ul li:nth-child(3) a:hover span {
    background-image: url("../../img/txt_about_hv.svg");
}

.l-globalNavi_inr>ul li:nth-child(4) a:hover span {
    background-image: url("../../img/txt_style_hv.svg");
}

.l-globalNavi_inr>ul li:nth-child(5) a:hover span {
    background-image: url("../../img/txt_facility_hv.svg");
}

.l-globalNavi_inr>ul li:nth-child(6) a:hover span {
    background-image: url("../../img/txt_memory_hv.svg");
}

.l-globalNavi_inr>ul li:nth-child(7) {
    margin-right: 0;
}

.l-globalNavi_inr>ul li:nth-child(7) a {
    padding: 0 0 0 13px;
}

.l-globalNavi_inr>ul li:nth-child(7) a:hover span {
    background-image: url("../../img/txt_letter_hv.svg");
}

.l-globalNavi_inr>ul li:nth-child(7):before {
    display: none;
}

.l-globalNavi_inr>ul li.is-current a span img {
    visibility: hidden;
}

.l-globalNavi_inr>ul li.is-current:nth-child(1) a span:after {
    background-image: url("../../img/txt_home_wh.svg");
}

.l-globalNavi_inr>ul li.is-current:nth-child(2) a span:after {
    background-image: url("../../img/txt_news_wh.svg");
}

.l-globalNavi_inr>ul li.is-current:nth-child(3) a span:after {
    background-image: url("../../img/txt_about_wh.svg");
}

.l-globalNavi_inr>ul li.is-current:nth-child(4) a span:after {
    background-image: url("../../img/txt_style_wh.svg");
}

.l-globalNavi_inr>ul li.is-current:nth-child(5) a span:after {
    background-image: url("../../img/txt_facility_wh.svg");
}

.l-globalNavi_inr>ul li.is-current:nth-child(6) a span:after {
    background-image: url("../../img/txt_memory_wh.svg");
}

.l-globalNavi_inr>ul li.is-current:nth-child(7) a span:after {
    background-image: url("../../img/txt_letter_wh.svg");
}

.l-globalNavi.is-open {
    display: -ms-flexbox;
    display: flex;
}

.l-globalNavi_sp {
    display: none;
}

.pc {
    display: inline!important;
}

.mb {
    display: none!important;
}


/* header */


/* top */

.p-fixCnt_home {
    overflow: hidden;
    padding-bottom: 30px;
}

.p-fixCnt_home:after {
    content: " ";
    bottom: 0;
    left: 0;
    background-image: url(../../img/bg_border.png) repeat-x;
    width: 100%;
    height: 10px;
    margin: 0 -100%;
    padding: 0 100%;
}

.p-fixCnt_under {
    overflow: hidden;
}

.p-fixCnt_under:after {
    content: " ";
    width: 100%;
    height: 5px;
    background: #a09072;
    border: solid #8c744b;
    border-width: 1px 0 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 101;
}

.p-fixedBar {
    background: #FFFFFF;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px 0;
    display: none;
    position: relative;
    width: 100%;
    z-index: 100;
}

.p-fixedBar_inner ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
}

.p-fixedBar_inner ul li {
    width: 230px;
}

.p-fixedBar_inner ul li:first-child {
    margin-right: 30px;
}

.p-fixedBar_inner ul li a:hover {
    opacity: .8;
}

.mainvisual_area {
    display: block;
    clear: both;
    z-index: -1000;
    height: auto;
    overflow: hidden;
    margin-top: 120px;
    padding-bottom: 60px;
}

.fixed .mainvisual_area {
    margin-top: 100px;
}

.mainvisual_outer {
    z-index: -999;
}

.mainvisual_inner {
    position: relative;
    clear: both;
    float: none;
}

.mainvisual_img_box {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding-top: 42.875%;
    background: none;
    z-index: 1;
}

.mainvisual_img_box img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}

.mainvisual_ttl {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.confetti_box {
    display: block;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}


/* top */


/* frontpage-point */

.frontpage_point {
    display: block;
    position: relative;
    margin-top: 0px;
    width: 100%;
    z-index: 0;
    padding-bottom: 40px;
}

.frontpage_point .contents_outer_frontpage {
    padding-left: 20px;
    padding-right: 20px;
}

.frontpage_point .contents_inner_frontpage {
    max-width: 1260px;
}

.point_content_box {
    display: inline-block;
    position: relative;
    letter-spacing: -.40em;
    text-align: center;
}

.point_content_box_left,
.point_content_box_right {
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: top;
    letter-spacing: normal;
    width: 50%;
    margin-bottom: 20px;
}

.contents_area_frontpage {
    width: 100%;
    display: block;
    clear: both;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    background: url(../../img/content_bg.jpg);
}

.contents_area_frontpage * {
    box-sizing: border-box;
}

.contents_outer_frontpage {
    padding: 0px 60px 0px 60px;
}

.outer_w100per {
    padding: 0px 0px 0px 0px;
}

.contents_inner_frontpage {
    max-width: 1080px;
    margin: 0 auto;
}

.inner_w100per {
    width: 100% !important;
    margin: 0 auto;
}

.contents_area {
    display: block;
    clear: both;
    width: 100%;
    padding-top: 0px;
    margin-top: 0px;
    background-color: #ffffff;
}

.contents_outer {
    position: relative;
    margin: 0 auto;
    padding: 0px 60px 0px 60px;
    z-index: 0;
}

.contents_inner {
    display: block;
    max-width: 1140px;
    margin: 0 auto;
}

.point_content_1box {
    position: relative;
}

.point1 {
    margin-bottom: 30px;
}

.point4 {
    margin-top: -4vh;
}

.point5 {
    margin-top: -4vh;
}

.point_img {
    position: relative;
}

.point_img span {
    display: none;
}

.point_img img {
    display: block;
    position: relative;
}

.point_photo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}


/* front page point */


/* message */

.frontpage_message_access {
    display: block;
    position: relative;
    margin-top: 0px;
    width: 100%;
    padding: 0px 0px 40px 0px;
    z-index: 0;
}

.frontpage_message_access .contents_inner_frontpage {
    max-width: 1140px;
}

.section_catchcopy_box {
    display: block;
    position: relative;
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 860px;
}

.section_catchcopy {
    font-size: 1.6vw;
    font-weight: 600;
    line-height: 170%;
}

.message_access_list_box ul {
    display: block;
    position: relative;
    letter-spacing: -.40em;
    text-align: center;
    margin-bottom: 40px;
}

.message_access_list_box ul li {
    display: inline-block;
    position: relative;
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
    letter-spacing: normal;
    text-align: center;
}

.message_access_list_box ul li:nth-Child(2n) {
    margin-right: 0%;
}

.map_box {
    max-height: 400px;
    margin-bottom: 30px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

.map_box iframe {
    max-height: 400px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

.mb60,
table.mb60 {
    margin-bottom: 60px !important;
}

.mb20,
table.mb20 {
    margin-bottom: 20px !important;
}

.ta_center {
    text-align: center !important;
    width: 100%;
}

.browser {
    width: 100%;
    text-align: center;
}


/* message */


/* base */

.p-bg_base {
    overflow: hidden;
    background: url(../../img/bg_ricepaper.png);
}

.header-1 {
    max-width: 1080px;
    margin: 0 auto;
    box-sizing: border-box;
}

.p-underCnt {
    padding: 90px 0 150px;
    position: relative;
}

.p-underCnt_01 h3 {
    font-weight: bold;
}

.p-underCnt_01--bdr {
    border-bottom: 5px solid #f2cb7c;
}

.c-hdg_border {
    text-align: center;
    position: relative;
}

.c-hdg_border:before {
    content: " ";
    width: 100%;
    height: 5px;
    position: absolute;
    top: 50%;
    left: 0;
    background-image: url("../../img/bg_border.png") repeat-x;
    background-size: 12px 5px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.c-hdg_border_wh span {
    background: #fff;
    font-size: 36px;
    font-size: 3.6rem;
}

.c-hdg_border span {
    background-image: url(../../img/bg_ricepaper.png);
    display: inline-block;
    padding: 0 15px;
    position: relative;
    z-index: 1;
}

.c-imgBlock {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.c-imgBlock_desc {
    -ms-flex: 1;
    flex: 1;
}

.c-imgBlock_desc_txt {
    font-size: 16px;
    font-size: 1.6rem;
}

.c-imgBlock_desc_txt p {
    line-height: 2;
    text-indent: 1em;
}

.c-imgBlock_cnt figure {
    border: 12px solid #fff;
}

.c-imgBlock_cnt figure img {
    width: 450px;
    height: 315px;
    object-fit: cover;
}

.c-imgBlock_cnt_message figure img {
    width: 450px;
    object-fit: cover;
}

.c-imgBlock_cnt_message figure {
    border: 12px solid #fff;
}

.c-imgBlock--right>div:first-of-type {
    margin-right: 45px;
}

.c-imgBlock--left>div:first-of-type {
    -ms-flex-order: 2;
    order: 2;
    margin-left: 45px;
}

.c-imgBlock--col2 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.c-imgBlock--col2>div {
    width: 48%;
    margin-right: 4%;
}

.c-imgBlock--col2>div:nth-child(even) {
    margin-right: 0;
}

.c-imgBlock--col2>div figure img {
    width: 100%;
}

.p-name {
    float: right;
    position: relative;
    display: flex;
}


/* base */


/* detail */

.frontpage_detail {
    display: block;
    position: relative;
    margin-top: 0px;
    width: 100%;
    padding: 0px 0px 40px 0px;
    z-index: -1;
}

.frontpage_detail .contents_inner_frontpage {
    display: block;
    position: relative;
    margin-top: 0px;
    width: 100%;
    max-width: 1140px !important;
    padding: 40px 5% 20px 5%;
    z-index: -1;
    background: url(../../img/detail.png) no-repeat center top;
    background-size: contain;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

.frontpage_detail .section_title_box {
    position: relative;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.frontpage_detail .section_title_box:before {
    content: "";
    display: block;
    padding-top: 32%;
}

.frontpage_detail h2.section_title {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(../../img/detail_title0426.png) no-repeat center top;
    background-size: 100%;
}

.frontpage_detail h2.section_title span {
    display: none;
}

.detail_message_box {
    display: block;
    position: relative;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 30px 4% 30px 4%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
}

.detail_photo_box {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 30px 4% 10px 4%;
    background-color: rgba(255, 255, 255, 1.0);
    border: solid 4px #E692A4;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
}

.detail_photo_box.box1 {
    border: solid 4px #E692A4;
}

.detail_photo_box.box2 {
    border: solid 4px #bf96cc;
}

.detail_photo_box.box3 {
    border: solid 4px #78c162;
}

.detail_photo_box.box4 {
    border: solid 4px #6EBBBA;
}

.detail_photo_box h3 {
    display: block;
    position: relative;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 10px 5% 10px 5%;
    margin-top: -30px;
    margin-left: -5%;
    margin-right: -5%;
    background-color: #DD8A8E;
    color: #ffffff;
    font-weight: 600;
    font-size: 140%;
}

.detail_photo_box.box1 h3 {
    background-color: #E692A4;
}

.detail_photo_box.box2 h3 {
    background-color: #bf96cc;
}

.detail_photo_box.box3 h3 {
    background-color: #78c162;
}

.detail_photo_box.box4 h3 {
    background-color: #6EBBBA;
}

.detail_photo_box_inner,
.detail_photo_box_inner_wide {
    vertical-align: top;
    letter-spacing: -.40em;
}

.detail_photo_box_inner .photo {
    display: inline-block;
    position: relative;
    vertical-align: top;
    letter-spacing: normal;
    width: 49%;
    margin-right: 2%;
    margin-bottom: 20px;
}

.detail_photo_box_inner .photo:nth-Child(2n) {
    margin-right: 0%;
}

.detail_photo_box_inner_wide .photo {
    display: inline-block;
    position: relative;
    letter-spacing: normal;
    margin-bottom: 20px;
}

.detail_photo_box_inner .photo img,
.detail_photo_box_inner_wide .photo img {
    margin-bottom: 5px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

.contents_area_frontpage {
    width: 100%;
    display: block;
    clear: both;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    background: url(../../img/content_bg.jpg);
}

.contents_area_frontpage * {
    box-sizing: border-box;
}

.contents_outer_frontpage {
    padding: 0px 60px 0px 60px;
}

.contents_inner_frontpage {
    max-width: 1080px;
    margin: 0 auto;
}

.contents_area_frontpage a {
    padding-top: 50px;
    padding-bottom: 30px;
    box-sizing: border-box;
}


/* detail */


/* data */

.frontpage_data {
    display: block;
    position: relative;
    margin-top: 0px;
    width: 100%;
    padding: 0px 0px 100px 0px;
}

.data_table_box {
    vertical-align: top;
    letter-spacing: -.40em;
    text-align: center;
}

.data_table_box .data_table {
    display: inline-block;
    position: relative;
    text-align: center;
    letter-spacing: normal;
    width: 49%;
    margin-right: 2%;
    margin-bottom: 20px;
}

.data_table_box .data_table:nth-Child(2n) {
    margin-right: 0%;
}

.section_title_box {
    position: relative;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center !important;
}

.colorful span {
    display: inline-block;
    position: relative;
    width: 5.3vw;
    padding-top: 5.3vw;
    margin-left: 1px;
    margin-right: 1px;
    color: #ffffff;
    font-size: 4.3vw;
    font-weight: 600px;
}

.colorful span:nth-child(1),
.colorful span:nth-child(6),
.colorful span:nth-child(11) {
    background: url(../../img/title_color_bg_1.jpg) no-repeat center center;
    background-size: contain;
}

.colorful span:nth-child(2),
.colorful span:nth-child(7),
.colorful span:nth-child(12) {
    background: url(../../img/title_color_bg_2.jpg) no-repeat center center;
    background-size: cover;
}

.colorful span:nth-child(3),
.colorful span:nth-child(8),
.colorful span:nth-child(13) {
    background: url(../../img/title_color_bg_3.jpg) no-repeat center center;
    background-size: cover;
}

.colorful span:nth-child(4),
.colorful span:nth-child(9),
.colorful span:nth-child(14) {
    background: url(../../img/title_color_bg_4.jpg) no-repeat center center;
    background-size: cover;
}

.colorful span:nth-child(5),
.colorful span:nth-child(10),
.colorful span:nth-child(15) {
    background: url(../../img/title_color_bg_5.jpg) no-repeat center center;
    background-size: cover;
}

.colorful span b {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    line-height: 100%;
    text-align: center;
}

.sp_only,
.sp_only {
    display: none;
}


/* data */


/* toiawase */

.frontpage_toiawase {
    display: block;
    position: relative;
    margin-top: 0px;
    width: 100%;
    padding: 0px 0px 100px 0px;
}

.toiawase_content_box {
    vertical-align: top;
    text-align: center;
}

.toiawase_content_box h3,
.toiawase_content_box p {
    text-align: center;
}

.toiawase_content_box h3 {
    font-weight: 600;
    font-size: 2.0rem;
}

.toiawase_content_box h3 {
    font-size: 2.5vw;
    font-weight: 600;
    line-height: 170%;
}

.toiawase_content_box p {
    font-size: 1.7rem;
}

.toiawase_content_box h3 span {
    font-weight: 400;
    font-size: 80%;
}

.tel {
    font-weight: 600;
    font-size: 140% !important;
}


/* toiawase */


/* homeinfo */

.p-homeInfo {
    border-top: 5px solid #f2cb7c;
}

.p-homeInfo {
    padding: 100px 0 160px;
    position: relative;
    overflow: hidden;
}

.header-1 {
    max-width: 1080px;
    margin: 0 auto;
    box-sizing: border-box;
}

.p-homeInfo h2 {
    margin-bottom: 70px;
}

.c-hdg_border {
    text-align: center;
    position: relative;
}

.c-hdg_border:before {
    content: " ";
    width: 100%;
    height: 5px;
    position: absolute;
    top: 50%;
    left: 0;
    background: url(../../img/bg_border.png) repeat-x;
    background-size: 12px 5px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.c-hdg_border_wh span {
    background: #fff;
    font-size: 36px;
    font-size: 3.6rem;
}

.c-hdg_border span {
    background: url(../../img/bg_ricepaper.png);
    display: inline-block;
    padding: 0 15px;
    position: relative;
    z-index: 1;
}

.p-newsList {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
}

.p-newsList_inr {
    width: 238px;
    padding: 0 59px 10px;
    border-right: 4px solid #d5c5a9;
}

.p-newsList_inr:nth-child(3n) {
    border-right: none;
}

.p-newsList_image {
    display: block;
}

.p-newsList_image figure {
    background: #c998a0;
    border-radius: 50%;
    padding: 8px;
    width: 222px;
    margin-bottom: 13px;
}

.p-newsList_image img {
    border-radius: 50%;
    height: 222px;
}

.p-newsList_image:hover {
    opacity: .8;
}

.p-newsList_title {
    margin-bottom: 15px;
}

.p-newsList_title_info span {
    color: #fff;
    font-size: 15px;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 4px 19px;
    margin-right: 15px;
}

.p-newsList_title_info_01 span {
    background: #c998a0;
}

.p-newsList_title_info_02 span {
    background: #84b3ca;
}

.p-newsList_title_info_03 span {
    background: #bad2bd;
}

.p-newsList_txt {
    letter-spacing: .1em;
    line-height: 1.3;
    border-bottom: 1px solid #84b3ca;
    padding-bottom: 5px;
    position: relative;
}

.p-newsList_txt:after {
    content: " ";
    position: absolute;
    width: 10px;
    height: 14px;
    background: url(../../img/arw_news_list.png) no-repeat;
    bottom: 0;
    right: -30px;
}

.p-newsList--row:first-of-type {
    padding-bottom: 45px;
    margin-bottom: 45px;
    border-bottom: 4px solid #d5c5a9;
}

.c-btn_detail {
    border: 1px solid #8c744b;
    width: 443px;
    text-align: center;
    margin: 0 auto;
}

.c-btn_detail a {
    background: #a09072;
    color: #fff;
    display: block;
    padding: 7px 0 4px;
    position: relative;
}

.c-btn_detail a:after {
    content: " ";
    width: 10px;
    height: 14px;
    position: absolute;
    right: 20px;
    top: 50%;
    background: url(../../img/arw_btn_detail.png) no-repeat;
    margin-top: -7px;
}

.c-btn_detail a:hover {
    opacity: .8;
}

.u-mt50 {
    margin-top: 50px !important;
}


/* homeinfo */


/* footer */

.l-toTop.is-fixed {
    position: absolute;
    bottom: 0;
    top: -90px;
}

.l-toTop {
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: none;
    z-index: 101;
}

.l-toTop a {
    display: block;
}

.l-ftr {
    background-image: url(../../img/bg_footer.jpg);
    overflow: hidden;
}

.header-1 {
    max-width: 1080px;
    margin: 0 auto;
    box-sizing: border-box;
}

.l-ftrCnt {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 60px 0;
}

.l-ftrCnt_inr {
    width: 360px;
    border-right: 4px solid #fff;
    box-sizing: border-box;
}

.l-ftrCnt_inr:last-child {
    border-right: none;
}

.l-ftrCnt_inr p {
    color: #fff;
}

.l-ftrCnt_inr p a {
    color: #fff;
}

.l-ftrCnt_inr p a:hover img {
    opacity: .8;
}

.l-ftrCnt_inr_01 p {
    margin-bottom: 15px;
}

.l-ftrCnt_inr_01 p img {
    width: 183px;
}

.l-ftrCnt_inr_01 dl {
    color: #fff;
}

.l-ftrCnt_inr_01 dl dd {
    line-height: 1.4;
}

.l-ftrCnt_inr_01 dl dd a {
    color: #fff;
}

.l-ftrCnt_inr_01 dl dd:nth-child(2) {
    margin: 10px 0;
}

.l-ftrCnt_inr_02 p {
    text-align: center;
}

.l-ftrCnt_inr_02 {
    -ms-flex-order: 2;
    order: 2;
}

.l-ftrCnt_inr_03 ul {
    padding-left: 45px;
}

.l-ftrCnt_inr_03 ul li:before {
    content: "・";
    color: #fff;
}

.l-ftrCnt_inr_03 ul li:hover:before {
    color: #f2cb7c;
}

.l-ftrCnt_inr_03 ul li a {
    color: #fff;
}

.l-ftrCnt_inr_03 ul li a:hover {
    color: #f2cb7c;
    text-decoration: underline;
}

.l-ftrCnt_inr_03 {
    -ms-flex-order: 3;
    order: 3;
}

.l-ftr_copyright {
    text-align: center;
    border-top: 2px solid #f7e8d0;
    line-height: 1;
    margin: 0 -100%;
    padding: 15px 100%;
}

.l-ftr_copyright small {
    color: #f2cb7c;
    font-size: 16px;
    font-size: 1.6rem;
}

.l-ftrCnt_inr_03 ul {
    padding-left: 45px;
}

.l-ftrCnt_inr_03 ul li:hover:before {
    color: #f2cb7c;
}

.l-ftrCnt_inr_03 ul li a {
    color: #fff;
}

.l-ftrCnt_inr_03 ul li a:hover {
    color: #f2cb7c;
    text-decoration: underline;
}

.l-ftrCnt_inr_03 {
    -ms-flex-order: 2;
    order: 2;
}


/* footer */